name: Playwright Tests

on:
  push:
    branches-ignore:
      - "renovate/**"

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.41.1-jammy
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: yarn

      - name: Node Version
        run: node --version

      - name: CPU Info
        run: node -p 'os.cpus()'

      - name: Type Check
        run: yarn types

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build:ci

      - name: Run Playwright Test - Chrome
        run: yarn pw:test