name: Playwright Tests

on:
  push:
    branches-ignore:
      - "renovate/**"
jobs:
  install:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.40.0-jammy
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: yarn install

      - name: Node Version
        run: node --version

      - name: CPU Info
        run: node -p 'os.cpus()'

      - name: Type Check
        run: yarn types

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build:ci

      - name: Save build folder
        uses: actions/upload-artifact@v3
        with:
          name: build
          if-no-files-found: error
          path: build
          
ui-chrome-tests:
  timeout-minutes: 15
  runs-on: ubuntu-latest
  container:
    image: mcr.microsoft.com/playwright:v1.40.0-jammy
    options: --user 1001
  needs: install
  strategy:
    fail-fast: false
    matrix:
      containers: [1, 2, 3, 4, 5]
  steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Download the build folders
      uses: actions/download-artifact@v3
      with:
        name: build
        path: build

    - name: Node info
      run: node -v

    - name: Run Playwright Test - Chrome
      run: yarn pw:chrome:headless

  # ui-chrome-mobile-tests:
  #   timeout-minutes: 15
  #   runs-on: ubuntu-latest
  #   container:
  #     image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  #     options: --user 1001
  #   needs: install
  #   strategy:
  #     # when one test fails, DO NOT cancel the other
  #     # containers, because this will kill Cypress processes
  #     # leaving Cypress Cloud hanging ...
  #     # https://github.com/cypress-io/github-action/issues/48
  #     fail-fast: false
  #     matrix:
  #       # run copies of the current job in parallel
  #       containers: [1, 2, 3, 4, 5]
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Download the build folders
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: build
  #         path: build

  #     - name: "UI Tests - Chrome - Mobile"
  #       uses: cypress-io/github-action@v6
  #       with:
  #         config: "'{"e2e":{"viewportWidth":375,"viewportHeight":667}}"
  #         start: yarn start:ci
  #         wait-on: "http://localhost:3000"
  #         wait-on-timeout: 120
  #         browser: chrome
  #         record: true
  #         parallel: true
  #         group: "UI - Chrome - Mobile"
  #         spec: cypress/tests/ui/*
  #         config-file: cypress.config.ts
  #       env:
  #         CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
  #         CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
  #         # Recommended: pass the GitHub token lets this action correctly
  #         # determine the unique run id necessary to re-run the checks
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ui-firefox-tests:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.40.0-jammy
      options: --user 1001
    needs: install
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download the build folders
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build

      - name: Run Playwright Test - Firefox
        run: yarn pw:firefox:headless

  # ui-firefox-mobile-tests:
  #   timeout-minutes: 15
  #   runs-on: ubuntu-latest
  #   container:
  #     image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  #     options: --user 1001
  #   needs: install
  #   strategy:
  #     # when one test fails, DO NOT cancel the other
  #     # containers, because this will kill Cypress processes
  #     # leaving Cypress Cloud hanging ...
  #     # https://github.com/cypress-io/github-action/issues/48
  #     fail-fast: false
  #     matrix:
  #       # run copies of the current job in parallel
  #       containers: [1, 2, 3, 4, 5]
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Download the build folders
  #       uses: actions/download-artifact@v3
  #       with:
  #         name: build
  #         path: build

  #     - name: "UI Tests - Firefox - Mobile"
  #       uses: cypress-io/github-action@v6
  #       with:
  #         config: "'{"e2e":{"viewportWidth":375,"viewportHeight":667}}"
  #         start: yarn start:ci
  #         wait-on: "http://localhost:3000"
  #         wait-on-timeout: 120
  #         browser: firefox
  #         record: true
  #         parallel: true
  #         group: "UI - Firefox - Mobile"
  #         spec: cypress/tests/ui/*
  #         config-file: cypress.config.ts
  #       env:
  #         CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
  #         CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
  #         # Recommended: pass the GitHub token lets this action correctly
  #         # determine the unique run id necessary to re-run the checks
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
