name: Playwright Tests

on:
  push:
    branches-ignore:
      - "renovate/**"

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.41.1-jammy
      options: --user 1001
    steps:
      - uses: actions/checkout@v3
      - run: yarn
      - run: yarn build:ci
      - run: start-server-and-test 'yarn dev' http://localhost:3000 'yarn pw:test'
